server {
    listen 443 ssl;
    server_name {{ PE_NGINX_GRAFANA_SERVER_NAME }};

    location / {
        proxy_pass http://localhost:{{ PE_NGINX_GRAFANA_INTERNAL_PORT }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}

server {
    listen 80;
    server_name {{ PE_NGINX_GRAFANA_SERVER_NAME }};

    location ~ /.well-known {
        allow all;
        root /usr/share/nginx/html;
    }
    location / {
        return 301 https://$http_host$request_uri;
    }
}