<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
  <property>
    <name>mapreduce.framework.name</name>
    <value>yarn</value>
  </property>

  <property>
    <name>mapreduce.map.memory.mb</name>
    <value>{{ mapreduce_map_memory_mb }}</value>
  </property>
  <property>
    <name>mapreduce.map.java.opts</name>
    <value>{{ mapreduce_map_java_opts }}</value>
  </property>

  <property>
    <name>mapreduce.reduce.memory.mb</name>
    <value>{{ mapreduce_reduce_memory_mb }}</value>
  </property>
  <property>
    <name>mapreduce.reduce.java.opts</name>
    <value>{{ mapreduce_reduce_java_opts }}</value>
  </property>

</configuration>