---

- name: Bootstrap instances of 16.04
  hosts: all
  gather_facts: no
  become: true
  roles:
    - python

- name: Configure complementary server
  hosts: all
  become: True
  gather_facts: True
  vars:
    # Fix automated role var hawthorn
    automated_sudoers_template: "99-automated.j2"
  roles:
    - role: swapfile
      when: SWAPFILE_SIZE is defined and SWAPFILE_SIZE != ""
    - role: nginx
    - role: ecommerce
      edx_django_service_git_path: "{{ ECOMMERCE_REPO_COMMON_GIT_PATH }}"
      edx_django_service_hostname: "{{ ECOMMERCE_HOSTNAME }}"
    - role: ecomworker
    - role: discovery
      edx_django_service_hostname: "{{ DISCOVERY_HOSTNAME }}"
    - role: cloudwatch_agent
      tags:
        - deploy_logs
